<!DOCTYPE html>
<!-- 設定値を表示、変更を入力するページ -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>設定</title>

<!-- Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>

<body>
	<header>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="navbar-brand">シャッフルツール</div>
				<!-- ハンバーガーメニュー -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/result">シャッフル画面に戻る</a></li>
					<li class="nav-item"><a class="nav-link" href="/entry">デッキ入力に戻る</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- 設定項目を表示・入力 -->
	<h1 class="h2">設定</h1>
	<form th:action="@{/conf}" method="post" th:object="${config}">
		<h2 class="h3">ディールシャッフル</h2>
		<div class="row mb-3">
			<label for="dealstacks" class="col-sm-5 col-form-label">カードを分ける山の個数(3~10個)</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" th:field="*{dealStacks}">
				<!-- エラー表示 -->
				<table th:if="${#fields.hasErrors('dealStacks')}" class="text-danger">
					<tr th:each="err:${#fields.errors('dealStacks')}">
						<td th:text="${err}"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row mb-3">
			<label for="dealfluc" class="col-sm-5 col-form-label">山に配るカードの枚数が0,2枚にブレる確率の合計(単位:%)</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" th:field="*{dealFluc}">
				<!-- エラー表示 -->
				<table th:if="${#fields.hasErrors('dealFluc')}" class="text-danger">
					<tr th:each="err:${#fields.errors('dealFluc')}">
						<td th:text="${err}"></td>
					</tr>
				</table>
			</div>
		</div>
		<h2 class="h3">ファローシャッフル</h2>
		<div class="row mb-3">
			<label for="farofluc" class="col-sm-5 col-form-label">山を組み合わせる際に、間に挟まるカードの枚数が2,3枚にブレる確率の合計(単位:%)</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" th:field="*{faroFluc}">
				<!-- エラー表示 -->
				<table th:if="${#fields.hasErrors('faroFluc')}" class="text-danger">
					<tr th:each="err:${#fields.errors('faroFluc')}">
						<td th:text="${err}"></td>
					</tr>
				</table>
			</div>
		</div>
		<h2 class="h3">ヒンズーシャッフル・ファローシャッフル共通</h2>
		<div class="row mb-3">
			<label for="splitfluc" class="col-sm-5 col-form-label">分ける山の枚数がちょうど半分からブレる最大枚数のデッキに対する割合(単位:%)</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" th:field="*{splitFluc}">
				<!-- エラー表示 -->
				<table th:if="${#fields.hasErrors('splitFluc')}" class="text-danger">
					<tr th:each="err:${#fields.errors('splitFluc')}">
						<td th:text="${err}"></td>
					</tr>
				</table>
			</div>
		</div>
		<input type="submit" value="更新" class="btn btn-dark">
	</form>
	<p></p>
	<a href="/default">
		<button type="button" class="btn btn-danger">デフォルトに戻す</button>
	</a>
	
	<!-- Script -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
		
</body>
</html>